[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.41.1"
httpx = "==0.27.2"
python-dotenv = "==1.0.1"
numpy = "==1.26.4"
crewai = "*"
crewai-tools = "*"
xlsxwriter = "*"
langchain-google-genai = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
main = "streamlit run main.py"
chromadb = {version = "==0.5.23", allow_prereleases = true}
